/* Webfont kit generated automatically */
@font-face {
  font-family: 'MV Boli';
  src: url('fonts/mvboli.woff2') format('woff2'),
       url('fonts/mvboli.woff') format('woff'),
       url('fonts/mvboli.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
